@import "../../lib/common";
@import "../../lib/box-shadow";
@import "compass/css3/appearance";
@import "compass/css3/transition";
@import "compass/css3/opacity";

#form-new-product-review {
  @include clearfix;
  position: relative;
  padding-bottom: 1px; // 140321, Joon Min - IE7에서 overflow:hidden일때 border가 잘리는 문제 해결

  .message-field {
    font-size: 0;
    height: auto;
    margin-bottom: 8px;
    padding: 15px 13px;
    border: 1px solid #dadada;
    @include transition(padding-top 0.3s ease);
  }

  .input-area-container {
    position: relative;
    height: 35px;
    font-family: $font-default;
  }

  select.select-rating {
    display: none;
  }

  textarea {
    min-height: 100px;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    border: 0;
    width: 100%;
    outline: transparent;
    resize: none;
    overflow: hidden;
  }

  .add-image-container {
    position: absolute;
    left: 0;
  }

  .field-box-container {
    margin: 0px 444px 0 130px;
    @include clearfix;

    html.no-file-reader & {
      margin-left: 0;
    }
  }

  .score-container {
    float: left;
  }

  button.submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 133px;
    height: 35px;
    background: #717171;
    color: white;
    font-size: 12px;
    cursor: pointer;
    @include transition(background-color 0.2s);

    &.hover {
      background-color: #101010;
    }

    .title {
      .fa {
        vertical-align: middle;
        font-size: 26px;
        padding-right: 14px;
      }
    }
  }

  .add-image-container {
    position: absolute;
    left: 0;
    width: 114px;
    height: 33px;
    border: 1px solid #dadada;
    margin-right: 5px;
    text-align: center;

    .sprites-icon-camera-black {
      position: absolute;
      left: 5px;
      top: 3px;
    }

    .description {
      position: absolute;
      color: #8f8f8f;
      top: 10px;
      left: 9px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 135px;
      font-weight: bold;
      font-size: 12px;
    }
  }

  .score-container {
    width: 100%;
    min-width: 225px;
    height: 35px;
    border: 1px solid #dadada;
    padding-left: 15px;
    position: relative;
    @include clearfix;

    .star-rating-container {
      float: left;
      margin-top: 11px;
    }

    #review_score {
      position: absolute;
      border: 0;
      top: 6px;
      background: transparent;
      font-size: 14px;
      color: #c3c3c3;
      left: 90px;
      width: 300px;
      outline: transparent;
      @include appearance(none);
    }

    select::-ms-expand {
      display: none;
    }
  }

  .nonmember-review {
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: -61px;
    @include transition(top 0.3s ease);

    .content-container {
      border-bottom: 1px dotted #ddd;
      margin: 10px 7px;
      padding-bottom: 11px;
      @include transition(opacity 0.2s);
      @include opacity(0);
      @include clearfix;
    }

    .input-container {
      float: left;
      border: 1px solid #ededed;
      color: #222;
      height: 38px;
      line-height: 38px;
      vertical-align: middle;
      margin-right: 8px;
      padding-right: 10px;
      padding-left: 10px;

      .key {
        float: left;
        font-size: 13px;
        border-right: 1px solid #ededed;
        padding-right: 10px;
      }

      input {
        float: left;
        font-size: 13px;
        padding: 11px 10px;
        color: #a8a8a8;
        width: 140px;

        &:focus {
          color: black;
        }
      }
    }

    .lfloat {
      @include clearfix;
    }

    .rfloat {
      @include clearfix;
      height: 40px;
      line-height: 40px;
      vertical-align: center;
      font-family: $font-default;

      .hint {
        font-size: 12px;
        color: #a5a5a5;
        float: left;
        padding-right: 20px;
      }

      .link-login {
        float: left;
        border: 1px solid #ededed;
        line-height: 38px;
        padding: 0 28px;
        font-size: 13px;
        color: #949494;
        @include transition(all 0.2s);

        &:hover {
          color: white;
          background-color: #101010;
        }
      }
    }
  }

  .review-policy {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: -61px;
    font-family: $font-default;
    @include transition(top 0.3s ease);

    .content-container {
      border-bottom: 1px dotted #ddd;
      margin: 15px 7px;
      padding-bottom: 14px;
      @include transition(opacity 0.2s);
      @include opacity(0);
      @include clearfix;

      .lfloat {
        line-height: 15px;
        padding-left: 4px;
        height: 30px;
      }

      .rfloat {
        padding-right: 2px;
      }

      .view-detail {
        display: block;
        font-size: 12px;
        border: 1px solid #ddd;
        padding: 7px 10px;
        height: 14px;
        color: #949494;
        @include transition(color 0.2s);

        &.hover {
          color: #444;
        }
      }
    }
  }
}

#review-policy-detail {
  position: absolute;
  display: hidden;
  top: 30px;
  width: 450px;
  left: 50%;
  background-color: white;
  padding: 25px 30px;
  border: 1px solid #888;
  opacity: 0;
  z-index: 1001;
  margin-left: -256px;
  @include box-shadow(0 5px 6px rgba(0,0,0,.15));
  @include transition(all 0.2s);

  &.hover {
    display: block;
    top: 45px;
    opacity: 1;
  }
}

@media (max-width:900px) {
  #form-new-product-review .nonmember-review .hint {
    display: none;
  }
}