/* Full number pagination */
.paging_full_numbers .next:active, .paging_full_numbers .first:active, .paging_full_numbers .previous:active, .paging_full_numbers .last:active { font-weight: normal!important; }
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active { padding: 4px 4px; margin: 0 3px; cursor: pointer; *cursor: hand; color: #6e6e6e; font-size: 11px; }
.paging_full_numbers a.paginate_button:hover { font-weight: bold; }
.paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active { font-weight: bold; }
// .paginate_button_disabled, .paginate_button_disabled:active  { display: none; }

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  padding: 4px 8px;
  margin: 0 2px 0 2px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  border: 1px solid #D7D5D5;
  font-family: Verdana, Dotum, AppleGothic, sans-serif;
  font-size: 12px;
}

a.last.paginate_button, a.next.paginate_button, a.first.paginate_button, a.previous.paginate_button {
  color: black;
  letter-spacing: -2px;  
}

a.previous.paginate_button {
  margin: 0 13px 0 2px;
}

a.next.paginate_button {
  margin: 0 2px 0 13px;
}

.dataTables_paginate.paging_full_numbers {
  padding-top: 10px;
  font-size: 0;
}

.paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active, .paging_full_numbers a.paginate_button:hover {
  color: #ADADAD;
}