@import "../lib/common";
@import "../lib/arrow";
@import "compass/css3/appearance";
@import "compass/css3/transition";
@import "../lib/css3/opacity";

body.reviews.index, body.products.reviews, body.reviews.photos, body.reviews.photo_review_popup, body.my.reviews, body.my.photo_reviews, body.users.reviews {
  &.app {
    margin: 20px;
  }

  #content {
    margin: 0 auto;
    font-size: 12px;
  }

  .select2-hidden-accessible {
    display: none;
  }
}

.review-sort-type-column {
  padding: 0 13px;
  font-size: 13px;
}

.widget-reviews {
  .widget-heading {
    font-size: 16px;

    .title {
      font-weight: bold;
      padding-right: 20px;
      font-size: 18px;
    }

    .sort-type {
      color: #949494;
      font-size: 13px;
      letter-spacing: -1px;

      &.selected {
        color: #333333;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  .no-data-message {
    display: none;
  }

  &.no-data {
    .widget-body {
      border: 0;
      min-height: 260px;

      div.no-data-message {
        display: block;
        text-align: center;
        color: #9e9e9e;
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }
}

ul.reviews {
  margin-bottom: 14px;

  &.no-data {
    font-size: 13px;
    display: block;
    text-align: center;
    color: #9e9e9e;
    margin-top: 30px;
    font-weight: bold;
  }
}

li.review {
  @include clearfix;
  position: relative;
  border-top: 1px solid #dadada;
  padding-top: 30px;
  padding-bottom: 8px;

  &.product-review .panel-heading .like-result {
    line-height: 18px;
  }

  .panel-heading {
    .star-rating-container, .score-text, .like-result {
      float: left;
    }

    .name {
      max-width: 100%;
      margin-bottom: 6px;
      @include inline-block;
      position: relative;

      .link-product {
        display: block;
        color: #323232;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        vertical-align: middle;
      }

      .review-tags {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -9px;
      }

      &.name-with-new-tag {
        padding-right: 34px;

        &.name-with-camera-icon {
          padding-right: 57px;
        }
      }

      &.name-with-camera-icon {
        padding-right: 20px;
      }
    }
  }

  &:first-child {
    border-top: none;
  }

  .image {
    position: absolute;
    min-width: 90px;
  }

  .l-contents {
    padding: 0 10px 0 0;
    margin-right: 250px;

    &.with-image {
      padding-left: 108px;
    }

    &.show_all {
      padding: 0px 8px 0 0;
      min-width: 570px;
    }

    .panel-header, .panel-body, .panel-footer {
      padding-bottom: 20px;
      padding-top: 13px;
    }

    .star-wrap {
      @include clearfix;

      .brand-author-type-image-container {
        float: left;
        font-size: 0;
      }

      .divider {
        float: left;
      }

      .review-tags {
        float: left;
        margin-left: 2px;
      }
    }

    .score {
      color: #a4a4a4;
    }

    .score-text {
      margin: 0 0 0 9px;
    }

    .actions-container {
      line-height: 25px;
      text-align: left;
    }

    .comments-link {
      cursor: pointer;
      font-weight: bold;

      &.hide {
        display: none;
      }
    }

    .review-content {
      position: relative;
      width: 100%; // IE10 Compat

      .panel-body {
        padding-bottom: 5px;
      }

      .panel-footer {
        padding-top: 0;
      }

      .review-content-inner {
        width: 100%; // IE10 Compat
      }

      .review-content-expanded {
        display: none;
      }

      .review-content-collapsed {
        display: block;
      }

      &.expanded {
        .review-content-expanded {
          display: block;
        }

        .review-content-collapsed {
          display: none;
        }

        &.expanding {
          @include transition(height 0.3s ease-out);
          .review-content-inner {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
          }
        }
      }
    }

    ul.images {
      @include inline-block;
      @include clearfix;
      width: 100%;
      margin: 18px -5px 0 -5px;
      font-size: 0;

      li {
        position: relative;
        float: left;
        margin: 0px 5px 0px 5px;
        border: 1px solid #eeeeee;
        font-size: 0;

        &.grid-4 {
          max-width: 130px;
          max-height: 130px;

          img {
            width: 128px;
            height: 128px;
          }
        }

        &.grid-3 {
          width: 31%;

          img {
            width: 197px;
            height: 224px;
          }
        }

        &.grid-2, &.grid-1 {
          width: 48%;

          img {
            width: 302px;
            height: 344px;
          }
        }
      }
    }
  }

  .r-contents {
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 205px;
    font-family: $font-default;

    &.index {
      min-width: 205px;
    }

    &.show_all {
      min-width: 174px;
      font-family: $font-default;

      .name {
        font-weight: bold;
      }
    }

    li {
      border-top: 1px solid #dadada;
      padding: 7px 5px;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      div {
        line-height: 18px;
      }
    }

    .info-container {
      text-align: right;
      .title {
        font-weight: bold;
      }

      .date {
        color: #a8a8a8;
        width: 130px;
        @include inline-block;
      }
    }

    .pinned {
      text-align: right;
      padding-top: 6px;
    }

    ul.images {
      @include clearfix;
      float: right;
      margin: 11px -2px 0 -2px;

      li {
        padding: 4px 2px;
        float: left;
        border: 0;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .message {
    .see-more {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .divider {
    margin: 0 9px;
  }
}

.photo-review-popup {
  cursor: pointer;

  .review-position-placeholder {
    visibility: hidden;
    font-size: 10px;
  }

  .review-position {
    position: absolute;
    top: 242px;
    left: -4px;
    background-color: #333;
    color: white;
    font-size: 11px;
    padding: 3px 5px;
  }
}

#review-popup-loader {
  @include opacity(0.3);
}

#review-edit-form {
  position: absolute;
  left: 0;
  width: 100%;

  #edit-form-container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #888;
    background-color: white;
    padding: 8px;
    box-shadow: 0 4px 5px rgba(0,0,0,.25);
    position: relative;

    .review-edit-close {
      position: absolute;
      top: -30px;
      right: -30px;
      cursor: pointer;
    }
  }
}

@media (max-width:910px) {
  #review-edit-form #form-new-product-review {
    .field-box-container {
      margin: 0 240px 0 60px;
    }

    .add-image-container {
      width: 50px;

      .sprites-icon-camera-black {
        left: 6px;
      }

      .description {
        display: none;
      }
    }
  }
}

.new-review.widget {
  .widget-heading, .widget-body {
    position: relative;
    border-bottom: 0;
  }

  .widget-heading {
    line-height: 20px;
    height: 32px;
    margin-bottom: 3px;
  }

  .divider {
    margin: 0 8px;
    color: #7d7d7d;
  }

  .description {
    color: #8f8f8f;
  }

  .btn {
    width: 76px;
    line-height: 32px;
    color: black;
    text-align: center;
    font-size: 12px;
    border: 1px solid #dadada;
    cursor: pointer;
  }
}

.like-action {
  .likable {
    a {
      @include inline-block;
      margin-right: 3px;
    }

    body.ie-7 & {
      margin-right: 6px;
    }
  }

  .title {
    margin-right: 12px;
    color: #7b7b7b;
    font-family: $font-default;
  }

  &.liked .link-like, &.unliked .link-unlike {
    background: #5e5e5e;
    border-color: #5e5e5e;
    color: white;
  }
}

.like-score-container {
  background: black;
  border: 1px solid white;
  min-width: 20px;
  line-height: 23px;
  text-align: center;
  margin: 0 8px 0 7px;
  position: relative;
  padding: 0 5px;

  .arrow-left {
    @include arrow-left(10px, transparent, black);
    position: absolute;
    top: 2px;
    left: -5px;
    font-size: 0;
    line-height: 0;
  }

  .like-score {
    color: white;
  }
}

.edit-review-container {
  font-size: 0;
  padding-left: 15px;
  position: relative;
  height: 25px;

  .edit-review-container-line {
    border-left: 1px solid #dadada;
    position: absolute;
    height: 23px;
    top: 1px;
    left: 1px;
  }

  .delete-review, .edit-review {
    font-size: 11px;
    padding: 6px 4px;
    border: 1px solid white;
    margin-right: 5px;
    cursor: pointer;
    @include transition(all 0.2s ease-out);
  }

  .delete-review {
    background-color: #515151;
    color: white;
    border-color: #515151;

    &.hover {
      background-color: #ef3f1d;
      border-color: #ef3f1d;
    }
  }

  .edit-review {
    background-color: white;
    color: #2e2e2e;
    border-color: #dadada;

    &.hover {
      color: white;
      background-color: #aaa;
      border-color: #aaa;
    }
  }
}