@import "../../lib/arrow";
@import "../../lib/common";
@import "compass/css3/transition";
@import "compass/css3/opacity";

body.products.reviews {
  margin: 2px;
}

body.products.reviews, #review-edit-form {
  .widget {
    &.new-review {
    }

    &.widget-reviews {
      padding-top: 38px;

      .widget-heading {
        height: 21px;
        border-bottom: 0;
        margin-bottom: 40px;

        .review-options-search {
          margin-top: 8px;
          top: 25px;
        }
      }
    }
  }

  ul.header {
    line-height: 39px;
    border-top: 2px solid #ADADAD;
    border-bottom: 2px solid #ADADAD;
    font-weight: bold;
    color: #4c4c4c;

    .col.title {
      text-align: center;
      width: 60%;
      color: #4c4c4c;
    }
  }

  ul.reviews, ul.header {
    width: 100%;
    border-spacing: 0;
    position: relative;

    .col {
      display: inline-block;
      text-align: center;

      &.index {
        width: 82px;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.photo {
        width: 36px;
        position: absolute;
        top: 0;
        left: 93px;
      }
      
      &.photo .sprites-camera{
        width: 27px;
        height: 21px;
        display: block;
        position: absolute;
        top: 11px;
        left: 4px;
      }

      &.title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        padding-left: 171px;
        padding-right: 267px;

        a {
          color: #434343;
        }
      }

      &.author {
        width: 110px;
        position: absolute;
        top: 0;
        right: 110px;
        margin-top: -5px;
        
        div {
          font-size: 11px;
          margin-top: -28px;          
        }
      }

      &.score {
        width: 90px;
        position: absolute;
        top: 0;
        right: 15px;
      }

      &.likes {
        width: 70px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    li.review {
      line-height: 43px;
      color: #434343;
      border-top: 0;
      border-bottom: 1px solid #e4e4e4;
      padding: 0 !important;

      .title {
        text-align: left;
      }

      .user-grade-icon {
        float: left;
        margin: 12px 5px 0 -10px;
        // margin-top: 12px;
        // margin-left: -10px;
        // margin-right: 5px;
      }
    }

    .star-rating-container span {
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 2px;
    }

    .sprites-icon-file {
      position: absolute;
      top: 13px;
      left: 12px;
    }

    .sprites-star-full, .sprites-star-empty {
      width: 14px;
      height: 9px;
      display: inline-block;
    }

    .review-content-expanded {
      border-top: 1px solid #e4e4e4;
      display: none;
      padding: 52px 52px 42px 52px !important;
    }

    .expanded .review-content-expanded {
      display: block;

      .comments-container, input#comment_message {
        background: #fafafa;
      }

      .comments-container {
        line-height: 15px;

        .arrow-top:after {
          @include arrow-top(7px, transparent, #fafafa);
        }

        .new-comments {
          line-height: 50px;

          .btn {
            background: #fafafa;
            color: black;
            top: 16px;
            right: 20px;
            font-size: 14px;
          }
        }
      }
    }

    .review-options .review-option {
      line-height: 15px;
    }
  }

  .widget-footer {
    padding-top: 0 !important;
  }

  .new-review.no-writable {
    padding-bottom: 0;
  }

  .no-data-message {
    display: none;
  }

  .review-options-search-toggle {
    display: none;
  }

  .widget-reviews.no-data {
    .no-data-message {
      display: block;
      width: 100%;
      text-align: center;
      margin: 60px 0 30px 0;
    }
  }

  .select2-container#s2id_review_score {
    border: 1px solid #dadada;
    font-size: 12px;
    display: block;
    padding: 4px 10px;
    height: 25px;
  }

  #select2-drop {
    box-shadow: none;
    border-radius: 0;

    .item {
      .text {
        margin-left: 10px;
      }
    }
  }

  .product-reviews-summary {
    margin-top: 20px;
    padding: 40px 76px 45px 76px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 3px solid #aaa;

    &.only-thumbnail {
      border-top: 3px solid #aaa;
    }
  }

  .score-summary {
    padding: 0;
    position: relative;

    .lcontent {
      padding: 9px 20px 9px 0;

      &.show-thumbnail {
        border-right: 1px solid #ededed;
        margin-right: 263px;

        ul.scores li .wrap {
          margin-right: 0;
          max-width: 600px;
          width: 70%;
        }
      }
    }

    .summary {
      width: 96px;
      float: left;

      .average {
        line-height: 77px;
        text-align: center;
        background: #252525;
        color: white;
        font-size: 50px;
      }

      .count {
        padding: 7px;
        text-align: center;
        color: #767676;
      }
    }

    ul.scores {
      padding-left: 120px;

      li {
        @include inline-block;
        margin-bottom: 6px;
        height: 14px;
        width: 100%;

        div {
          color: #9d9d9d;
        }

        .title {
          width: 50px;
          float: left;
        }

        .wrap {
          margin-left: 54px;
          margin-right: 30px;
          background: #f4f4f4;
          min-width: 190px;
          position: relative;

          .percentile {
            width: 0;
            background: #ff4c23;
            height: 14px;
          }
        }

        .count {
          text-align: right;
          color: #9d9d9d;
          position: absolute;
          right: -37px;
          top: 0;
        }

        &.selected {
          font-weight: bold;
          .wrap {
            .sprites-check {
              position: absolute;
              top: 1px;
              right: -62px;
            }
          }
        }
      }
    }

    .score-description {
      font-size: 14px;
      margin-top: 16px;

      .percentage {
        color: #6eb67e;
      }
    }

    .rcontent {
      position: absolute;
      right: 0;
      top: 4px;
    }

    .images-container {
      ul {
        width: 245px;
        @include clearfix;

        &.single-line {
          padding-top: 31px;

          &.no-reviews {
            padding-top: 55px;
          }
        }

        li {
          float: left;
          padding: 4px 0 4px 4px;
        }
      }

      div.show-all-photo-reviews {
        text-align: center;
        margin-top: 10px;

        a {
          color: #878787;
          position: relative;

          .sprites-check {
            display: none;
          }

          &.selected {
            font-weight: bold;
            .sprites-check {
              @include inline-block;
              position: absolute;
              right: -15px;
            }
          }
        }
      }
    }
  }

  .review-input-photos {
    margin-left: -15px;
  }

  $preview_image_size: 75px;

  .image-fields-container {
    width: 430px;
    height: $preview_image_size;
    padding: 0px;
    @include clearfix;

    .image-field {
      width: $preview_image_size;
      height: $preview_image_size;
      position: relative;
      float: left;
      padding: 0 5px 10px 5px;
    }

    .wrap {
      position: relative;
      background: #c8c8c8;
      overflow: hidden;
      width: $preview_image_size;
      height: $preview_image_size;
    }

    img.size-support {
      width: 100%;
      height: auto;
      min-width: 50px;
    }

    .input-image-container {
      position: absolute;
      top: 50%;
      margin-top: -37px;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-family: $font-default;
      font-size: 12px;
      font-weight: bold;
      color: white;
    }

    .sprites-icon-camera {
      margin-top: 17px;
      margin-bottom: 2px;
    }

    .input-file {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 !important;
      margin: 0;
      cursor: pointer;
      @include opacity(0);
      font-size: 200px;
      direction: ltr;
    }

    .preview-container {
      position: absolute;
      top: 0;
      left: 0;
      width: $preview_image_size;
      height: $preview_image_size;
      font-size: 0;
      background: white;
      text-align: center;
    }

    .remove-preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 13px;
      font-weight: bold;
      background: black;
      cursor: pointer;
      @include opacity(0.4);
      @include transition(opacity 0.3s);

      div {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -8px;
      }

      &.hover {
        @include opacity(0.8);
      }
    }
  }

  form.new_review {
    .review-input-photos {
      display: none;
    }
  }

  html.no-file-reader & form#form-new-product-review {
    .review-input-photos {
      display: block;
    }

    .field-box.add-image-container {
      display: none;
    }

    .field-box-container {
      margin-left: 0;
    }
  }

  #review-photo-thumbnails {
    position: relative;
    text-align: center;

    .title {
      font-size: 27px;
      font-family: $font-default;
    }

    #review-photo-summary {
      padding-top: 12px;
      padding-bottom: 30px;

      .count-text {
        color: #616161;
        font-size: 13px;

        .count {
          font-family: $font-default;
          padding-right: 3px;
        }
      }
    }

    .product-thumbnail-container {
      height: 77px;
      width: 785px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;

      .photo-review-thumbnail {
        margin-left: 0px;
        @include inline-block;

        a {
          border: 1px solid #ccc;
        }
      }

      .photo-review-thumbnail-empty {
        width: 75px;
        height: 75px;
        background: #ccc;
      }
    }

    .show-all-photo-reviews {
      color: #666;
      font-size: 12px;
      margin-top: 35px;

      .link-photo-reviews {
        background: #717171;
        color: white;
        padding: 10px 15px;
      }

      .sprites-check {
        display: none;
      }

      .selected .sprites-check {
        @include inline-block;
        position: relative;
        top: 1px;
      }
    }
  }
}

ul.reviews.reviews-product {
  li.review {
    ul.images {
      display: inline-block;
      @include clearfix;
      width: 100%;
      margin: 18px -5px 0 -5px;
      font-size: 0;

      li {
        position: relative;
        float: left;
        margin: 0px 5px 0px 5px;
        border: 1px solid #eeeeee;
        font-size: 0;

        &.grid-4 {
          max-width: 130px;
          max-height: 130px;

          img {
            width: 100%;
          }
        }

        &.grid-3 {
          width: 31%;

          img {
            width: 197px;
            height: 224px;
          }
        }

        &.grid-2, &.grid-1 {
          width: 48%;

          img {
            width: 302px;
            height: 344px;
          }
        }
      }
    }
  }
}
